{% extends 'base.html' %}
{% block content %}


  <div class="col-md-12">
	
    <div class="card">
		<div class="card-body">
		  <h2 class="font-weight-bold my-2 text-center mb-2 mt-2 font-weight-bold">
			  <strong>Currency</strong>
			</h2>
			<hr>
			{% include 'alert.html' %}
			<!-- Success message -->
<!-- Success message -->
<form method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="col-md-4 mb-4">
      <div class="form-group">
        <label for="{{ field.auto_id }}">{{ field.label }}</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fas fa-envelope"></i>
            </span>
          </div>
          {{ field }}
        </div>
      </div>
    </div>
  {% endfor %}
  

	  <div class="text-center">
		<button type="submit" class="btn blue-gradient btn-rounded waves-effect waves-light">Save</button>
	  </div>
	  
</form>
</div>
</div>
</div>

{%endblock  %}
