
{% extends 'base.html' %}
{% block content %}


  <div class="col-md-12">
	
    <div class="card">
		<div class="card-body">
		  <h2 class="font-weight-bold my-2 text-center mb-2 mt-2 font-weight-bold">
			  <strong>Item Receipt </strong>
			</h2>
			<hr>
			{% include 'alert.html' %}
			<!-- Success message -->

            <form method="post">
                {% csrf_token %}
                {% include 'component/formfield3col.html' %}
                {{ formset.management_form }}
                <div class="formset-container">
                    <table class="table table-bordered border-primary table-sm" >
                        <thead class="">
                            <tr>
                                {% for field in formset.empty_form.visible_fields %}
                                    <th>{{ field.label }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody >
                            {% for form in formset %}
                                <tr class="form-container">
                                    {% for field in form.visible_fields %}
                                        <td>
                                            {{ field }}
                                        </td>
                                    {% endfor %}
                                    <td>
                                        {% if forloop.first %}
                                            <button type="button" class="add-form btn btn-sm blue-gradient btn-rounded waves-effect waves-light" data-form-prefix="{{ formset.prefix }}">Add Row</button>
                                        {% else %}
                                            <button type="button" class="remove-form btn  btn-sm young-passion-gradient btn-rounded waves-effect waves-light" data-form-prefix="{{ formset.prefix }}">Remove Row</button>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
           <div class="text-center">
                    <button type="submit" class="btn blue-gradient btn-rounded waves-effect waves-light">Save</button>
                  </div>     
                
            </form>
            

</div>
</div>
</div>

{%endblock  %}

{% block extra_scripts %}
<script>
    $(document).ready(function () {
        $('.add-form').click(function () {
            cloneForm($(this).data('form-prefix'));
        });

        $('.remove-form').click(function () {
            removeForm($(this).data('form-prefix'));
        });

        function cloneForm(formPrefix) {
            const formContainer = $('.form-container').last();
            const totalForms = parseInt($('#id_' + formPrefix + '-TOTAL_FORMS').val());
            const newForm = formContainer.clone();

            newForm.find('input').val('');
            newForm.find('select').val('');
            newForm.find('input[type="hidden"]').remove();
            newForm.find('label.error').remove();

            formContainer.after(newForm);

            newForm.find('input, select').each(function () {
                updateFormElementIndex($(this), formPrefix, totalForms);
            });

            $('#id_' + formPrefix + '-TOTAL_FORMS').val(totalForms + 1);
        }

        function removeForm(formPrefix) {
            const formContainer = $('.form-container');
            if (formContainer.length > 1) {
                formContainer.last().remove();
                updateFormIndex(formPrefix);
            }
        }

        function updateFormElementIndex(elem, formPrefix, formIndex) {
            const idRegex = new RegExp(formPrefix + '-(\\d+|__prefix__)-');
            const replacement = formPrefix + '-' + formIndex + '-';
            elem.attr('id', elem.attr('id').replace(idRegex, replacement));
            elem.attr('name', elem.attr('name').replace(idRegex, replacement));
            elem.attr('for', elem.attr('for').replace(idRegex, replacement));
        }

        function updateFormIndex(formPrefix) {
            const formContainer = $('.form-container');
            formContainer.each(function (index) {
                $(this).find('input, select').each(function () {
                    updateFormElementIndex($(this), formPrefix, index);
                });
            });
            $('#id_' + formPrefix + '-TOTAL_FORMS').val(formContainer.length);
        }
    });
</script>
{% endblock %}