{% extends 'base.html' %}
{% block content %}

<h2> <strong>{{ page_title }}</strong></h2>

{% for itemreceiptinfo in itemreceiptinfos %}
    <div>
        <p> <strong>{{ page_title }}</strong>ID: {{ itemreceiptinfo.pk }}</p>
        <!-- Display other item receipt info fields as needed -->
        <p>
            <a href="{% url 'itemdelivey_update' itemreceiptinfo.pk %}">Edit</a>
            <a href="{% url 'itemdeliveryinfo_delete' itemreceiptinfo.pk %}">Delete</a>
        </p>
    </div>
    <hr>
{% empty %}
    <p>No item receipt information available.</p>
{% endfor %}

{% endblock %}
