
{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1>Update </h1>
    <form method="post">
        {% csrf_token %}
        {% include 'component/formfield.html' %}
        <button type="button" class="add-form btn btn-sm blue-gradient btn-rounded waves-effect waves-light" data-form-prefix="{{ formset.prefix }}">Add Row</button>
                     
        {{ formset.management_form }}
        <table>
          <thead>
            <tr>
              {% for field in formset.forms.0 %}
                <th>{{ field.label }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for form in formset %}
              <tr class='form-container'>
                {% for field in form %}
                  <td>{{ field }}</td>
                {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
        
        
        </div>
        <div class="text-center">
            <button type="submit" class="btn blue-gradient btn-rounded waves-effect waves-light">Save</button>
        </div>
    </form>
    

    {% endblock %}