

{% extends 'base.html' %}
{% load static %}
{% block content %}


  <div class="col-md-12">
  

    <div class="card">
      <div class="card-body">
        <h2 class="font-weight-bold my-2 text-center mb-2 mt-2 font-weight-bold">
            <strong>Item Master Data</strong>
          </h2>
          <hr>
          

          <a href="{% url 'item_list' %}"> <img src="{% static 'images/list-50.png' %}" alt="Item List "> </a> 
          <a href="{% url 'search_form' %}"> <img src="{% static 'images/search-50.png' %}" alt="Item Search "></a>
          <a href="{% url 'item_create' %}"> <img src="{% static 'images/add-50.png' %}" alt="Item Add "></a>
          {% include 'alert.html' %}
      <!-- Success message -->
<form method="post">
  {% include 'component/formfield3col.html' %}
  



    <div class="text-center">
      <button type="submit" class="btn blue-gradient btn-rounded waves-effect waves-light">Save</button>
    </div>

</form>

</div>
</div>
</div>

  {%endblock  %}





